body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p{
    margin-top: 0px;
    margin-bottom: 15px;
}

#app {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

/* Profile */

#profile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    background: #ddd;
    border: 1px solid #ccc;
    overflow: hidden;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

/* Search bar */

#search {
    display: flex; 
    justify-content: center; 
    padding: 20px; 
}

#search input[type="search"] {
    width: 100%; 
    max-width: 500px; 
    padding: 10px;
    border: 2px solid #ddd; 
    border-radius: 25px; 
    font-size: 1rem; 
    color: #333; 
}

#search input[type="search"]:focus {
    border-color: #224480; 
    box-shadow: 0 0 8px rgba(34, 68, 128, 0.6); 
}

/* Repositiry List */

#repoList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
}

.repository {
    border: 1px solid #224480;
    padding: 10px;;
}

.repository h2{
    color: #224480;
}

.repository-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    margin-top: 20px;
}
 
.repository-topics span {
    background-color: #224480; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 4px; 
    font-size: 0.8rem; 
    cursor: pointer; 
}
  
/* Pagination */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

#pagination button {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button:hover:not(:disabled) {
    background-color: #f0f0f0;
}

#pagination button.disabled,
#pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#pagination button.active {
    background-color: #224480;
    color: white;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

#pagination-controls button{
    
    margin: auto;
    padding: 0px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid #224480;
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;

}

#pagination-controls button:hover{
    color: white;
    background-color: #224480;
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}

#pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}